@model Category

<form method="post" asp-action="Edit">
<div class="border p-3" mt-4>
    <div class="row pb-2">
        <h2 class="text-primary"> Edit Category</h2>
        <hr />
    </div>
        @*<div asp-validation-summary="All"> shows all error msgs in a summary*@

    </div>
    <div class="mb-3">
            <label asp-for="Name"></label>   @*uses tag helpers that use properties from  category models to make labels*@
            <input asp-for="Name" class=" form-control" /> 
            <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Title"></label>   @*uses tag helpers that use properties from  category models to make labels*@
        <input asp-for="Title" class=" form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class=" form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

    <!-- NEW FIELD: Price -->
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Status" class="control-label"></label>
        <select asp-for="Status" class="form-control">
            <option value="Available">Available</option>
            <option value="Out of Stock">Out of Stock</option>
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn  btn-secondary" style="width:150px">Back To List</a> @*link to go back to index page*@
</div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }

}
  



